@model Physioline.Endpoint.WebAPI.Areas.Admin.Models.DashboardModels.HomeDashboardViewModel
@{
    ViewData["Title"] = "صفحه نخست";
}

<div class="d-flex justify-content-center">
  <img src="~/global_assets/image/dashboarPic.jpg" width="400px"/>
</div>

<div class="d-flex justify-content-center gap-4 mt-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">@Model.CountOfExercises</h5>
      <h6 class="card-subtitle mb-2 text-muted">تمرین</h6>
      <p class="card-text">تعداد تمارین موجود در مخزن</p>
      <a asp-area="Admin" asp-controller="Exercise" asp-action="PageList" class="card-link btn-primary btn btn-sm">فهرست تمارین</a>
      <a asp-area="Admin" asp-controller="Exercise" asp-action="CreateExercise" class="card-link btn-success btn btn-sm">افزودن تمرین</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">@Model.CountOfCollections</h5>
      <h6 class="card-subtitle mb-2 text-muted">مجموعه تمرین</h6>
      <p class="card-text">تعداد مجموعه تمرینات موجود</p>
      <a asp-area="Admin" asp-controller="Collection" asp-action="PageList" class="card-link btn-primary btn btn-sm">فهرست مجموعه ها</a>
      <a asp-area="Admin" asp-controller="Collection" asp-action="CreateCollection" class="card-link btn-success btn btn-sm">افزودن مجموعه</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">@Model.CountOfPlans</h5>
      <h6 class="card-subtitle mb-2 text-muted">برنامه درمانی</h6>
      <p class="card-text">تعداد برنامه های ایجاد شده</p>
      <a asp-area="Admin" asp-controller="Plan" asp-action="PageList" class="card-link btn btn-primary btn-sm">فهرست برنامه ها</a>
    </div>
  </div>


</div>