<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>استاد مغز - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/global_assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/global_assets/library/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/global_assets/library/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/global_assets/typography/main-typography.css">
    <link rel="stylesheet" href="~/global_assets/css/UI_site-style2.css">
</head>
<body>
<header class="container p-0 g-0">
    <nav class="navbar navbar-expand-md shadow-sm rounded-bottom-3" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/global_assets/image/logo.svg" alt="logo" height="40px">
            </a>
            <button class="navbar-toggler" type="button" id="btn01" data-bs-toggle="collapse"
                    data-bs-target="#collapse-menu"
                    aria-controls="collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapse-menu">
                <ul class="navbar-nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="#">صفحه نخست</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">مقالات</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">خدمات ما</a>
                        <ul class="dropdown-menu dropdown-center">
                            <li><a class="dropdown-item" href="#">زیر منو یک</a></li>
                            <li><a class="dropdown-item" href="#">زیر منوی دو</a></li>
                            <li><a class="dropdown-item" href="#">زیر منوی سه</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">درباره ما</a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-end d-none d-md-block">
                <button class="btn btn-outline-dark btn-sm px-3 py-1 rounded-4 border-1 border-black">
                    ورود | ثبت نام
                </button>
            </div>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>

<script src="~/global_assets/library/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/global_assets/library/jquery/jquery-3.7.1.min.js"></script>
<script src="~/global_assets/library/swiper/js/swiper-bundle.min.js"></script>
<script src="~/global_assets/js/UI_site_script.js"></script>
</body>
</html>