@{
    ViewData["Title"] = "صفحه نخست";
}

<div class="container mt-4">
        <div class="row justify-content-center justify-content-md-start align-items-center px-1 px-md-5 rounded-3"
             id="home-session-1">
            <div class="col-10 col-md-5 my-blur-white-background p-5 pb-4 rounded-3">
                <h2 class="titr-small">
                    با فیزیولاین، کلینیک فیزیوتراپی در خانه شما
                </h2>
                <p class="mt-4">
                    فیزیولاین پلتفرم برخط ارائه خدمات دوراپزشکی در حوزه درمانی فیزیوتراپی و توانبخشی بدنی، مبتنی بر ایجاد آسان بین پزشک و بیمار میباشد.
                </p>
                <div class="d-flex justify-content-center justify-content-md-start">
                    <button class="btn btn-outline-primary my-3 d-block d-md-inline">اطلاعات بیشتر</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mb-4 text-white rounded-3 mt-4" id="home-session-2">
            <div class="col-12 align-center">
                <h2 class="titr-big">این پروژه ب همت دانشجویان دانشگاه فنی و حرفه ای راه اندازی شده است</h2>
                <p class="mt-3 align-center">
                    این سامانه درحال حاضر عملیاتی نمی باشد و تنها جهت بررسی و آزمایش فنی نرم افزاری راه اندازی شده استو
                </p>
            </div>
        </div>

        <div class="my-page-element">
            <div class="row justify-content-center align-items-center mt-3 mb-3">
                <h2 class="sub-titr align-center">تمام خدمات روانشناسی اینجاست</h2>
                <h2 class="titr-medium align-center mb-3">کلینیک های تخصصی</h2>
            </div>
            <div class="row g-3 g-md-5">
                <div class="col-6 col-md-3">
                    <div class="card bg-dark rounded-3 text-white text-center pb-4 border-0">
                        <img class="card-img-top my-thumb-s250" src="/global_assets/image/ad-pic-01.jpg">
                        <div class="px-2 pt-4 pb-3">
                            <h3 class="titr-small align-center pb-2 px-2">کلینیک نوروتراپی</h3>
                            <p class="card-text align-center px-2">کلینیک تخصصی خدمات نوروساینس با بروزترین روش ها و تجهیزات</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card bg-dark rounded-3 text-white text-center pb-4 border-0">
                        <img class="card-img-top my-thumb-s250" src="/global_assets/image/ad-pic-02.jpg">
                        <div class="px-2 pt-4 pb-3">
                            <h3 class="titr-small align-center pb-2 px-2">کلینیک کودک و نوجوان</h3>
                            <p class="card-text align-center px-2">کلینیک تخصصی کودک و نوجوان ارائه دهنده خدمات مختلف روانشناسی کودک </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card bg-dark rounded-3 text-white text-center pb-4 border-0">
                        <img class="card-img-top my-thumb-s250" src="/global_assets/image/ad-pic-03.jpg">
                        <div class="px-2 pt-4 pb-3">
                            <h3 class="titr-small align-center pb-2 px-2">کلینیک مشاوره خانواده</h3>
                            <p class="card-text align-center px-2"> کلینیک تخصصی ارائه دهنده انواع خدمات مشاوره زوجی، خانواده و تربیت فرزند</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card bg-dark rounded-3 text-white text-center pb-4 border-0">
                        <img class="card-img-top my-thumb-s250" src="/global_assets/image/ad-pic-04.jpg">
                        <div class="px-2 pt-4 pb-3">
                            <h3 class="titr-small align-center pb-2 px-2">کلینیک بالینی</h3>
                            <p class="card-text align-center px-2">کلینیک تخصصی ارائه دهنده راهکارهای درمانی انواع اختلالات بالینی</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-body-tertiary py-1 my-page-element">
        <div class="container pt-4 mt-5 pb-5">
            <div class="row justify-content-center align-items-center mb-5">
                <h2 class="titr-medium align-center">دیگر خدمات</h2>
            </div>
            <div class="swiper mySwiper mb-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <div class="card-img-overlay">
                                <h3 class="titr-small align-center my-3">نقشه مغزی (QEEG)</h3>
                                <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <h3 class="titr-small align-center my-3">نقشه مغزی (EEG)</h3>
                            <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <h3 class="titr-small align-center my-3">نوروفیدبک</h3>
                            <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <h3 class="titr-small align-center my-3">لورتا نوروفیدبک</h3>
                            <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <h3 class="titr-small align-center my-3">نوروفیدبک</h3>
                            <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card pb-4">
                            <img class="card-img-top my-thumb-rectangle" src="/global_assets/image/top-of-home.jpg">
                            <h3 class="titr-small align-center my-3">لورتا نوروفیدبک</h3>
                            <p class="card-text align-center">ارائه خدمات نوروفیدبک به تمام مراجعان این مرکز</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination pt-3"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="my-page-element">
            <div class="row justify-content-center align-items-center mt-3 mb-3">
<!--                <h2 class="sub-titr align-center">تجربه ذهن آرام و پویا با</h2>-->
                <h2 class="titr-medium align-center mb-3">کارگاه مغز؛ کارگاه های آموزشی استاد مغز</h2>
            </div>
            <div class="row g-3 g-md-5">
                <div class="col-1 col-md-6">
                    <div class="card p-2">
                        <div class="row align-content-center g-0">
                            <div class="col-md-4">
                                <img src="/global_assets/image/family-vector.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">کارگاه خانواده شاد</h5>
                                    <p class="card-text">این کارگاه اموزشی در جهت آموزش مهارت های خانوادگی به صورت حضوری توسط استاد مغز برگزار می شود</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-md-6">
                    <div class="card p-2">
                        <div class="row align-content-center g-0">
                            <div class="col-md-4">
                                <img src="/global_assets/image/family-vector.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">کارگاه خانواده شاد</h5>
                                    <p class="card-text">این کارگاه اموزشی در جهت آموزش مهارت های خانوادگی به صورت حضوری توسط استاد مغز برگزار می شود</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>