@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] | پنل مدیریت فیزیولاین </title>
    <link rel="stylesheet" href="~/global_assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/global_assets/library/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/global_assets/library/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/global_assets/typography/main-typography.css">
    <link rel="stylesheet" href="~/global_assets/css/admin-panel/UI_admin-style.css">

</head>
<body>
<!-- Header Section -->
<header class="p-0 g-0">
    <nav class="navbar sticky-top fixed-top navbar-expand shadow-sm rounded-bottom-3 py-4 px-5">
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <button class="btn btn-primary" type="button"
                            data-bs-toggle="collapse" data-bs-target="#my-sidebar" aria-expanded="false" aria-controls="my-sidebar">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <a class="navbar-brand" href="#">
                        <img src="/global_assets/image/physiolineLogo.png" alt="logo" height="40px">
                    </a>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark rounded-3 dropdown-toggle d-none d-md-block"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        خوش آمدید، @(HttpContextAccessor.HttpContext.User.Claims.First(c=>c.Type == ClaimTypes.Name).Value)
                    </button>
                    <button type="button" class="btn btn-outline-dark rounded-3 dropdown-toggle d-block d-md-none"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        ...
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a asp-controller="AppAccount" asp-action="SignOut" class="dropdown-item" type="button">خروج از حساب</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Sidebar BitVector32.Section -->
<div class="">
    <div class="d-inline d-md-flex mt-4 me-4">
        <div class="collapse show col-md-2 sticky-top pe-0" id="my-sidebar">
            <nav class="bg-light rounded-5 pe-0 me-0 py-3">
                <div>
                    <!-- Navigation Links -->
                    <ul class="nav text-primary link-primary flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">داشبورد</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">آمارگیر</a>
                        </li>

                        <li>
                            <a class="nav-item" data-bs-toggle="collapse" data-bs-target="#my-user-menu" aria-expanded="false"
                               aria-controls="my-user-menu">
                                <span class="badge rounded-pill text-bg-primary mx-2">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                مدیریت کاربران
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="collapse list-unstyled text-primary" id="my-user-menu">
                                <li>
                                    <a asp-area="Admin" asp-controller="UserManager" asp-action="PageList">کاربران ثبت نام شده</a>
                                </li>
                                <li>
                                    <a href="#">فهرست پیش ثبت نام ها</a>
                                </li>
                                <li>
                                    <a href="#">افزودن مدیر سیستم</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="SpecializedTitle" asp-action="PageList">مدیریت عناوین</a>
                                </li>
                            </ul>
                        </li>

                        
                        <li>
                            <a class="nav-item" data-bs-toggle="collapse" data-bs-target="#my-exercise-menu" aria-expanded="false"
                               aria-controls="my-exercise-menu">
                                <span class="badge rounded-pill text-bg-primary mx-2">
                                    <i class="fa-solid fa-person-walking"></i>
                                </span>
                                تمرینات
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="collapse list-unstyled text-primary" id="my-exercise-menu">
                                <li>
                                    <a asp-area="admin" asp-controller="Exercise" asp-action="PageList">فهرست تمرینات</a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="Exercise" asp-action="CreateExercise">ایجاد تمرین</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="ExerciseCategory" asp-action="PageList">دسته بندی تمرینات</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-item" data-bs-toggle="collapse" data-bs-target="#my-collection-menu" aria-expanded="false"
                               aria-controls="my-collection-menu">
                                <span class="badge rounded-pill text-bg-primary mx-2">
                                    <i class="fa-solid fa-inbox"></i>
                                </span>
                                مجموعه تمرینات
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="collapse list-unstyled text-primary" id="my-collection-menu">
                                <li>
                                    <a asp-area="Admin" asp-controller="Collection" asp-action="PageList">فهرست مجموعه ها</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="Collection" asp-action="CreateCollection">ایجاد مجموعه</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="CollectionCategory" asp-action="PageList">دسته بندی مجموعه</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="nav-item" data-bs-toggle="collapse" data-bs-target="#my-plan-menu" aria-expanded="false"
                               aria-controls="my-plan-menu">
                                <span class="badge rounded-pill text-bg-primary mx-2">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </span>
                                برنامه های درمانی
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="collapse list-unstyled text-primary" id="my-plan-menu">
                                <li>
                                    <a asp-area="Admin" asp-controller="Plan" asp-action="PageList">فهرست برنامه ها</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a asp-controller="AppAccount" asp-action="SignOut">خروج</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Main Content Container -->
        <div class="flex-grow-1 col-md-10 py-2 px-3">
            @RenderBody()
            <!-- Your content goes here -->
        </div>
    </div>
</div>


<script src="/global_assets/library/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/global_assets/library/jquery/jquery-3.7.1.min.js"></script>
<script src="/global_assets/library/swiper/js/swiper-bundle.min.js"></script>
<script src="/global_assets/js/UI_site_script.js"></script>
</body>
</html>