@import url("/global_assets/typography/dana/css/fontiran.css"); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

*{
    font-family: dana-fanum;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

p{
    text-align: justify;
    font-size: 16px;
    line-height: 2rem;
    font-weight: 300;
}

.titr-big{
    font-size: 32px;
    font-weight: 990;
}

.titr-big-light{
    font-size: 32px;
    font-weight: 500;
}

.titr-medium{
    font-size: 24px;
    font-weight: 800;
}

.titr-small{
    font-size: 18px;
    font-weight: bold;
}

.sub-titr{
    font-size: 18px;
    color: #6c757d;
    font-weight: 300;
}
.align-center{
    text-align: center;
}
