@{
    ViewData["Title"] = "صفحه نخست";
}

<div class="d-flex justify-content-center gap-4 mt-5">


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">تعداد تمرینات</h5>
            <h6 class="card-subtitle mb-2 text-muted">عنوان</h6>
            <p class="card-text">تعداد عناوین موجود در مخزن</p>
            <a asp-controller="" asp-action="" class="card-link">فهرست کتب</a>
            <a asp-controller="" asp-action="" class="card-link">افزودن کتاب</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">تعداد برنامه های فعال</h5>
            <h6 class="card-subtitle mb-2 text-muted">کتاب</h6>
            <p class="card-text">تعداد کتب در امانت <span class="badge bg-success">آخرین ثبت امانت: </span></p>
            <a asp-controller="" asp-action="" class="card-link">ثبت امانت</a>
            <a asp-controller="" asp-action="" class="card-link">بازگشت امانت</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">تعداد بیماران</h5>
            <h6 class="card-subtitle mb-2 text-muted">عضو</h6>
            <p class="card-text">تعداد اعضای کتابخانه</p>
            <a href="#" class="card-link">فهرست اعضا</a>
            <a href="#" class="card-link">افزودن عضو</a>
        </div>
    </div>
    
    
</div>